<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/userHome">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/catHome">View Catalog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
            </ul>
        </div>
    </nav>

    <div class="container">

            <div class="panel panel-info">
                <div class="panel-heading">
                <h2 class="panel-title"><strong>{{data[2]}}</strong></h2>
                </div>
                <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="left"> <img alt="User Pic" src="{{data[0]}}" height="250" width="200" class="img-circle img-responsive">
                        <form class="form form-vertical" action="/upload" method="post" enctype="multipart/form-data" align="left">
                            <div class="row">
                                <div class="col-sm-4 text-center">
                                    <div class="kv-avatar">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class=" col-md-9 col-lg-9 ">
                        <h3><strong>Points</strong></h3>
                        <table class="table table-user-information">
                            <tbody>
                                {% for elem in data[3] %}
                                    <tr>
                                        <td><strong>{{elem[0]}}:</strong></td>
                                        <td>{{elem[1]}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <h3><strong>Profile Information</strong></h3>
                        <table class="table table-user-information">
                            <tbody>
                                {% for elem in data[1] %}
                                    {% for key in elem %}
                                        <tr>
                                            <td><strong>{{key}}:</strong></td>
                                            <td>{{elem[key]}}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>

                        <a href="/profHistory" class="btn btn-primary">Profile History</a>
                        <a href="/profSettings" class="btn btn-primary">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>    
 
    <div>
        <footer class="footer">
                &copy; Watt Team 6 - 2018
        </footer>
    </div>

</body>
</html>
